/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.cdnfonts.com/css/games");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/raised-up-i-love-you-hands-gesture-with-diverse-skin-tone-isolated-on-white-background-unity-concept-with-i-love-you-sign-language-vector.jpg);
  z-index: -1;
  opacity: .8;
}

/* Teachable machine style */
.webcover {
  background: #eee;
  width: 210px;
  height: 260px;
  padding: 30px 5px;
  border-radius: 0.4em;
  border: dashed #999 2px;
}

#webcam-container {
  border-radius: 0.4em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.challenge,
.answer {
  background: #999 !important;
  padding: 1.75em;
  opacity: .9;
}

.challenge,
.answer {
  width: 346px;
  height: 380px;
  border-radius: 6em 4em 4em 4em / 5em 5em 5em 5em !important;
}

.hidden {
  display: none;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

img {
  width: 210px;
  height: 260px;
  border-radius: 0.4em;
}

.start-arrow {
  font-size: 50px;
  color: gold;
  animation: up-down 1s infinite;
}

.trans {
  transition: all 100s ease-in !important;
  animation: up-down 2s;
}

.start-btn,
.play-btn {
  width: 150px;
  height: 100px;
  border-radius: 6em 4em 4em 4em / 5em 5em 5em 5em !important;
  font-size: 3em !important;
}

.next-btn,
.try-btn {
  width: 80px;
  height: 50px;
  border-radius: 6em 4em 4em 4em / 5em 5em 5em 5em !important;
  font-size: 1.5em !important;
  font-family: "Games", sans-serif !important;
}

.try-btn {
  width: 150px;
}

.play-btn {
  width: 300px !important;
}

.progress-container {
  width: 200px;
}

.preloader-container {
  margin-top: 8em;
}

.score-container {
  font-weight: 500 !important;
  color: green !important;
}

.at-right {
  animation: up-down 1s infinite;
}

.great {
  transition: all 5s ease-in;
}

/* keyframes */
@keyframes up-down {
  from {
    opacity: 0;
  }

  top {
    opacity: 1;
  }
}